{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="83536201782-ftd54feptc5nm4dj3l009bktu41uaaiq.apps.googleusercontent.com">
    <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/tripadvise.css' %}">
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
  <title>Norse Trip Advisor</title>
</head>


<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Norse Trip Advisor</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/courses.html">Courses</a> </li>
                    <li> <a href="/hotels.html">Hotels</a> </li>
                    <li><a href="{% url 'users' %}" class="top_menu">Users</a></li>
                    <li> <a href="http://www.luther.edu/global-learning/">GLearning</a> </li>
        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" >Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'tripadvise.views.post_course' %}"class="top-menu">Enter Course</a></li>
                            <li> <a href="{% url 'tripadvise.views.post_lodge' %}"class="top-menu">Enter Lodge</a> </li>
                            <li><a href="{% url 'tripadvise.views.clAssignment' %}"class="top_menu">C&L Assign</a></li>
                            <li><a href="{% url 'post_user' %}" class="top_menu">User Registration</a></li> 
                             <li><a href="{% url 'tripadvise.views.cuAssignment' %}"class="top_menu">C&U Assign</a></li>
                        </ul>
                    </li>
        </ul>
        
      </ul>
      
    </div>
  </div>
</nav>


    <script>
    var SignedIn = false;
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        SignedIn = true;
        console.log("ID: " + profile.getId()); // Don't send thisdirectly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        document.getElementById('sign-in').innerHTML = 'Logged in as '+ profile.getName();};
        function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
          SignedIn = false;
          location.reload();
        });
    }
    </script>

    {% block content %}
    {% endblock %}

   <!--  <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://apis.google.com/js/ platform.js" async defer></script>-->
</body>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>