
{% extends 'tripadvise/base.html' %}

{% block content%}
<div class="col-sm-12">
{% if messages %}
<br><br><br><br>
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}} </li>
	{% endfor %}
</ul>
{% endif %}
<h1>{{course_info.name}}</h1>
Department : {{course_info.dept}}<br><br>
Year Offered: {{course_info.year_offered}}<br><br>
Professor: {{course_info.prof}}<br><br>
Term: {{ course_info.term}}<br><br>
Description: {{ course_info.course_description}} <br><br>
Hotels Stayed: 
Courses that used this accomodation: 
{% for cla in cl_assign %}
	{% if course_info.name == cla.course_name|stringformat:"s" %} 

		{% for lodge in lodges %}
			{% if lodge.lodge_name == cla.lodge_name|stringformat:"s" %}
				<a href="/hotel_details/{{ lodge.lodgeId }}">
				{{cla.lodge_name|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}
</div>



{% endblock %}
