{% extends 'tripadvise/base.html' %}

{% block content %}

<div class = 'col-sm-6 col-sm-offset-3'>
{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}} </li>
	{% endfor %}
</ul>
{% endif %}

<h1>{{lodge_info.lodge_name}} </h1>
		{% if lodge_info.lodge_image.url %}
		<img src="{{lodge_info.lodge_image.url }}" class="img-responsive" ><br><br>
		{% endif %}

Address: {{lodge_info.lodge_address}} <br><br>
City: {{lodge_info.city}} <br><br>
Country: {{lodge_info.country}}<br><br>
URL: <a href = "{{ lodge_info.lodge_url }}">{{ lodge_info.lodge_url }} </a> <br><br>
Description: {{lodge_info.lodge_descrip}} <br><br>
Rating: {{lodge_info.average_rating}} <br><br>

Courses that used this accomodation: 
{% for cla in cl_assign %}
	{% if lodge_info.lodge_name == cla.lodge_name|stringformat:"s" %} 
		{% for course in courses %}
			{% if course.name == cla.course_name|stringformat:"s" %}
				<a href="/course_detail/{{ course.courseId }}">
				{{cla.course_name|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}
<br><br>

<!-- only for admin -->
<button type="submit" class="save btn btn-info"><a href="edit" style="text-decoration: none; color: white">Edit Hotel</a></button>

<br><br>
</div>


{% endblock %}