
{% extends 'tripadvise/base.html' %}

{% block content %}


<br><br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
  


<br>{% if lodge_info.lodge_image.url %}
		<img src="{{lodge_info.lodge_image.url }}" style=position:fixed top="150" left="950" class="img-responsive" width="500" height="400" border="0">
		{% endif %}
</div>
<div class="col-md-5 col-md-offset-6"  style=position:fixed> <h1>{{lodge_info.lodge_name}}</h1><br>
<b>Rating:</b> {{lodge_info.average_rating}} <br><br>
<b>Address: </b>{{lodge_info.lodge_address}} {{lodge_info.city}} , {{lodge_info.country}}<br><br>
<b>URL:</b> <a href = "{{ lodge_info.lodge_url }}">{{ lodge_info.lodge_url }} </a> <br><br>
<b>Description:</b> {{lodge_info.lodge_descrip}} <br><br>


<b>Courses that used this accomodation: 
{% for cla in cl_assign %}
	{% if lodge_info.lodge_name == cla.lodge_name|stringformat:"s" %} 
		{% for course in courses %}
			{% if course.name == cla.course_name|stringformat:"s" %}
				<a href="/course_detail/{{ course.courseId }}">
				{{cla.course_name|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}
<br><br>
<!-- only for admin -->
<button type="submit" class="save btn btn-info"><a href="edit" style="text-decoration: none; color: white">Edit Hotel</a></button>

<br><br>

</div></div>






{% endblock %}