
{% extends 'tripadvise/base.html' %}

{% block content%}
<div class="container">
<div class="col-sm-12 user_detail">

{% if messages %}
<ul class="messages">
	{% for message in messages %}
	<p{% if message.tags == "success" %} class="alert alert-success" class="{{ message.tags }}"{% endif %}>{{message}} </p>
	{% endfor %}
</ul>

{% endif %}
<h4>{{user_info.fullName}}</h4>
Email : {{ user_info.email }}<br><br>
Role: {{ user_info.role|lower|capfirst }}<br><br>
Courses taken:
{% for cua in cu_assign %}
	{% if user_info.email == cua.user_Id|stringformat:"s" %} 

		{% for course in courses %}
			{% if course.name == cua.course_Id|stringformat:"s" %}
				<a href="/course_detail/{{ course.courseId }}">
				{{cua.course_Id|stringformat:"s"}}</a>,
			{% endif %}
		{% endfor %}

	{% endif %}
{% endfor %}
<br><br>
<!-- only for admin -->
<a href="edit" style="text-decoration: none; color: white"><button type="submit" class="save btn btn-info">Edit User</button></a>

<a href="delete" style="text-decoration: none; color: white"><button type="submit" class="save btn btn-danger">Delete User</button></a>

<br><br>
<h3>Reviews written by {{ user_info.fullName }}</h3>
<hr style="border-color:lightgrey">
<!-- Review -->
{{ reviews_list }}
{% if review_pag %}
	{% for review in review_pag %} 
		{% if review.lodge_Id|stringformat:"s" == lodge_info.lodge_name %}
		<div class = "comment">
		{{ review.comment }} 
		<br>
		<small class = "review_timestamp">Rated {{ review.rating }} of 5 | 
		{{ review.pub_date}}</small> <br>
		<small class = "review_author"> {{ review.author }} </small> 
		</div>
		
		<p><span id="helpful">Helpful?</span>&nbsp;&nbsp;<button class="btn btn-default btn-sm glyphicon glyphicon-thumbs-up" id="likes" reviewid = "{{ review.reviewId }}"> </button>&nbsp;<small id="like_count">{{review.likes}} likes </small></p>
		

		{% endif%}
		

	{% endfor %}
{% else %}
<p> No reviews are available. </p>
{% endif %}

	<div class="pagination">
    <span class="step-links">
        {% if review_pag.has_previous %}
            <a href="?{{ page_request_var }}={{ review_pag.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ review_pag.number }} of {{ review_pag.paginator.num_pages }}.
        </span>

        {% if review_pag.has_next %}
            <a href="?{{ page_request_var }}={{ review_pag.next_page_number }}">next</a>
        {% endif %}
   		 </span>
	</div>
</div>
</div>
</div>



{% endblock %}
